---
layout: 2column
title: Olaf van Tol
description:
keywords:
image: olaf-van-tol.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: olafvantol
twitter:
---
{% include img.html %}
<p>Olaf werkt al met IT sinds hij in de jaren '80 Logo leerde programmeren op de MSX. Naast zijn ervaring met web development en project management speelt hij graag een spelletje op de PC, met een voorkeur voor het 4X genre. Als hij niet achter de computer zit is hij te vinden op een zeilboot, het liefst onder een tropisch zonnetje, of onder water aan het duiken.</p>

<p>Op dit moment leidt hij bij SupportDesk team blauw.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
