---
layout: 2column
title: Enno Stuurman
description:
keywords:
image: enno-stuurman.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: ennostuurman
twitter: spaarnetweet
---
{% include img.html %}
<p>Enno bouwt al meer dan 7 jaar webshops voor het MKB en heeft zich sinds 2010 volledig gespecialiseerd in Magento. Bij SupportDesk houdt hij zich vooral bezig met Magento inrichting, templating, front-end optimalisatie en Magento mobile. Enno is afgestudeerd in Small Business & Retail Management en heeft veel kennis van en ervaring met ecommerce. Hij heeft gewerkt voor Magento Gold Partner Realvine als front-end developer, heeft zijn eigen webdesign bureau Spaarne Webdesign en is werkzaam als ecommerce consultant voor internet marketing bureau Goeiezaak in Haarlem.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
