---
layout: sd-page
price: 1250
hours: 16
title: Magento 2
title-submenu: SupportDesk Services
meta: In the Magento 2 Developer Training you learn the basis fundamentals how to manage your Magento 2 website.
subtitle: In the Magento 2 Developer Training you learn the basis fundamentals how to manage your Magento 2 website.
link: sd-magento-2
permalink: sd-magento-2
img: magento-2-developer
thumbnail: magento-2-developer
alt: image-alt
description-top: Is jouw huidige Magento website toe aan een upgrade of migratie naar Magento 2? En wil je gebruikmaken van de laatste nieuwe Magento 2 functionaliteiten en optimalisaties? Dan helpen we je graag.
description-middle: All Magento 2 Developer training take-aways are a brief overview of our broad selection.
content-title: Who will benefit from this Magento 2 Training?
description-bottom: This training is most beneficial for developers who already are experienced with php programming and want to create a module for Magento 2. Experience with Magento 1 is advised.
related-title: Related training
summary:
  - title: Migratie van Magento 1 naar Magento 2
  - title: Converteren van je Magento 1 theme naar een Magento 2 theme
  - title: Converteren van je Magento 1 modules naar Magento 2 modules
  - title: Upgrade van Magento 1 hosting naar Magento 2 hosting
  - title: Installeren, configuren van Magento 1 Varnish setup naar Magento 2 Varnish setup
  - title: Magento 2 Training/Consultancy
  - title: Magento 2 Architectuur setup
related:
  - title: Magento 2 Theming
  - title: Magento 2 Developer
m2-book-img: 
m2-book-title: Magento 2 Cookbook
m2-book-description: Meer weten over Magento 2? Bestel nu het Magento 2 Cookbook.
---
{% include service_product.html %}
{% comment %}
{% include team.html %}
{% endcomment %}
