---
layout: 2column
title: Erik van Rijn
description:
keywords:
image: erik-van-rijn.jpg
imagedir: team
height: 150
width: 200
position:
linkedin:
twitter:
certs-frontend: 1367967
certs-frontend-image: magento-certified-frontend-developer.png
---
{% include img.html %}
<p>Erik van Rijn is opgeleid als applicatie ontwikkelaar en werkt part-time voor SupportDesk. De overige dagen van de week is hij druk bezig met zijn eigen shop Gudz.nl. In het verleden werkzaam geweest bij Telegraaf Media Groep als online marketeer. Voor SupportDesk voornamelijk bezig met het front-end van Magento en met de koppelingen van Magento met andere marketingtools.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
{% include magento-certs.html %}
