---
layout: 2column
title: Mike Koning
description:
keywords:
image: mike-koning.jpg
imagedir: team
height: 150
width: 200
position:
linkedin:
twitter:
---
{% include img.html %}
<p>Mike is al van jongs af aan bezig met computers en wilt zijn carrière in deze richting vervolgen. Hij studeert Computer Science aan de Vrije Universiteit van Amsterdam en heeft gekozen om de developers kant op te gaan door een extra bootcamp te volgen naast zijn studie. Mike werkt parttime als Junior Magento Developer bij SupportDesk.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
