---
layout: 2column
title: Wilco Vogt
description:
keywords:
image: wilco-vogt.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: wilco-vogt-43b57930
twitter:
redirect_from:
  - over-ons/26-wilcovogt
---
{% include img.html %}
<p>Wilco is een aantal jaar geleden begonnen met een opleiding Communicatie & Multimediadesign. Al snel bleek dat zijn intresses meer bij de technische kant van ICT lagen. Sindsdien heeft hij ervaring opgedaan als webdeveloper en systeembeheerder. Hij zet zich fulltime in voor Magento support en systeembeheer.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
