---
layout: 2column
title: Julian Murillo
description:
keywords:
image: julian-murillo.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: julian-eduardo-murillo-a7448222
twitter:
---
{% include img.html %}
<p>Julian Murillo is afgestudeerd aan de Universiteit van Wageningen als master in de bos- en natuurbeheer. Heeft gewerkt bij de Verenigde Naties in Italie  en Colombia. Tijdens zijn werk in Colombia kwam hij in aanraking met het programmeren. Het programmeren sloeg erg aan en wilde hiermee meer gaan doen. Is een HBO studie aan het doen om meer in de programmeertaal zijn weg te vinden.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
