---
layout: 2column
title: Tim Vroom
description:
keywords:
image: tim-vroom.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: tim-vroom-70398027
twitter: vroomtim
---
{% include img.html %}
<p>Tim vroom werkt sinds 1-11-2015 bij SupportDesk als Support Engineer. Na zijn MBO opleiding ICT is hij doorgestroomd naar het HBO en heeft hij daar zijn Bachelor Communicatie behaald. Tijdens zijn studie is hij in aanraking gekomen met Magento en is zich daarin gaan verdiepen. Hier heeft hij zijn passie gevonden voor backend development waar nu zijn grote kracht ligt. </p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
