  <div class="box">
    <div class="box__inner">
      <div class="box__content">
        <div class="box__image">
          <a title="Magento 2 - Upgrade - Migratie" href="/magento-support/magento-2/">
            <amp-img noloading height=200 width=200 alt="Magento 2 - Upgrade - Migratie" attribution="Magento 2 - Upgrade - Migratie" layout=responsive src="/img/article/magento-2-migration-upgrade.jpg"></amp-img>
          </a>
        </div>
        <div>
            <h2>Are u ready 4 Magento 2?</h2>
        </div>
        <p>Are you currenty using <strong>Magento 1</strong>, and looking forward to continue your business using the latest functionality in ecommerce, than <strong>Magento 2</strong> is ready for you.<br><br><strong>Magento 2</strong> is a brand new platform and ready to serve your ecommerce needs <span class="underline">now</span> and in the <span class="underline">future</span>.</p>
        <p><a href="/magento-support/magento-2" title="Magento 2" class="orange">more info</a></p>
      </div>
    </div>
  </div>
