  <div class="box">
    <div class="box__inner">
      <div class="box__content">
        <div>
            <h3>Magento 2 Cookbook</h3>
        </div>
        <div class="box__image__side">
          <a title="Magento 2 Cookbook - Ray Bogman & Vladimir Kerfhoff" href="/2016/03/14/keystone-magento-2-magento-2-cookbook-door-ray-bogman-en-vladimir-kerkhof">
            <amp-img noloading height=260 width=200 alt="Magento 2 Cookbook - Ray Bogman & Vladimir Kerfhoff" attribution="Magento 2 Cookbook - Ray Bogman & Vladimir Kerfhoff" layout=responsive src="/img/banners/magento-2-cookbook.png"></amp-img>
          </a>
        </div>
        <p>Meer weten over <strong>Magento 2</strong>? Bestel nu het <strong>Magento 2 Cookbook</strong>.</p>
        <p><a href="/magento-support/magento-apk" title="Magento 2 Cookbook" class="orange">Bestel hier</a></p>
      </div>
    </div>
  </div>
