<footer>
  <div class="first-footer">
  <div class="container">
    <div class="row">
      <div class="four columns">
          <h3>Laatste nieuws</h3>
          <ul>
          {% for post in site.posts limit:5 %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
          </ul>
      </div>
      <div class="four columns">
          <h3>Populair</h3>
          <ul>
          {% for post in site.categories.popular limit:5 %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
          </ul>
      </div>

      <div class="four columns">
          <h3>Support nodig?</h3>
          <p class="bel-button"><span>Bel nu!</span> 020 337 596</p>
          <p>SupportDesk B.V<br/>Hogehilweg 19<br />1101 CB Amsterdam<br/>Email: support @ supportdesk.nu<br/><br/>Meer gegevens</p>
      </div>
    </div>
  </div>
  </div>
  <div class="second-footer">
    <ul class="menu menu-line">
      {% for menu in site.data.nav %}
        <li><a href="{{ site.url }}{{ menu.href }}" title="{{ menu.title }}">{{ menu.title }}</a></li>
      {% endfor %}
    </ul>
    <p class="bottom"><a href="{{ site.url }}" title="{{ site.name }}">{{ site.name }}</a>™ name and logo are registered trademarks of SupportDesk.<br />
        All material on this website is copyrighted by <a href="{{ site.url }}" title="{{ site.name }}">{{ site.name }}</a>.</p>
  </div>
</footer>
