<amp-sidebar id="sidebar" side="right" layout="nodisplay" aria-hidden="false" role="menu" tabindex="-1" open="">
  <form class="menu-layer primary i-amphtml-form" action="/" target="_top" novalidate="">
    <button type="reset" class="close-button" id="menu-button" on="tap:sidebar.toggle"></button>
    <div class="items">
        {% for menu in site.data.nav %}
        <label class="menu-item item-layer-1 has-sub-level"><input type="checkbox">
        {% if menu.href != 'magento-support' %}
          <a href="{{ site.url }}{{ menu.href }}" title="{{ menu.title }}">{{ menu.title }}</a>
        {% else %}
          {{ menu.title }}
        {% endif %}
          {% if menu.subcategories != null %}
          <div class="submenu menu-layer secondary">
            <div class="return-button">Back</div>
            <button type="reset" class="close-button" id="menu-button" on="tap:sidebar.toggle"></button>
            <div class="items">
                {% for subcategory in menu.subcategories %}
                <a class="menu-item item-layer-2" href="{{ site.url }}{{ menu.href }}{{ subcategory.subhref }}" title="{{ subcategory.subtitle }}">{{ subcategory.subtitle }}</a>
                {% endfor %}
            </div>
          </div>
          {% endif %}
        </label>
        {% endfor %}

    </div>
<div class="language desktop">
  <amp-accordion role="tablist">
    <section>
      <h6 role="tab" aria-expanded="false">
        <a class="flag-nl"><span>NL</span></a>
      </h6>
      <div role="tabpanel" >
        <div class="others-inner">
          <div><a href="/en/" class="flag-en"><span>EN</span></a></div>
      </div>
    </section>
  </amp-accordion>
</div>  </form>
<button tabindex="-1">Close the sidebar</button>
<div style="height: 10vh; width: 100%; background-color: transparent;"></div>
</amp-sidebar>


<header class="header fixed">
  <div class="container">
    <div class="nav-container">
      <div class="left-nav alt">
            <a href="{{ site.url }}" class="tab header-title"><span></span></a>
          <div class="tabs">
            {% for menu in site.data.nav %}
              <div class="tab">
                <a href="{{ site.url }}{{ menu.href }}" title="{{ menu.title }}">{{ menu.title }}</a>
                {% if menu.subcategories != null %}
                <div class="list-container">
                  <div class="list-shadow"></div>
                    <ul>
                      {% for subcategory in menu.subcategories %}
                      <li><a href="{{ site.url }}{{ menu.href }}{{ subcategory.subhref }}" title="{{ subcategory.subtitle }}">{{ subcategory.subtitle }}</a></li>
                      {% endfor %}
                    </ul>
                </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
      </div>
      <div class="right alt">
        <form action="//www.google.com/search" method="get" class="searchbar" target="_top" novalidate="">
          <input class="query" name="q" type="text">
          <input name="as_sitesearch" type="hidden" value="www.supportdesk.nu">
          <button name="search" type="submit"></button>
        </form>
        <div class="language desktop">
          <amp-accordion role="tablist">
            <section>
              <h6 class="current" role="tab" aria-expanded="false">
                <a class="flag-nl"><span>NL</span></a>
              </h6>
              <div class="others" role="tabpanel">
                <div class="others-inner">
                  <div><a href="/en/" class="flag-en"><span>EN</span></a></div>
                </div>
              </div>
            </section>
          </amp-accordion>
        </div>
        <button class="tab hamburger" id="menu-button" on="tap:sidebar.toggle"></button>
      </div>
    </div>
  </div>
</header>
