{% if page.certs-frontend != null %}
<div class="box__image{{ page.position }}">
  <a title="{{ page.title }}" target="_blank" href="https://u.magento.com/certification/directory/dev/{{ page.certs-frontend }}">
    <amp-img noloading height=121 width=67 alt="{{ page.title }}" attribution="{{ page.title }}" layout=responsive src="/img/certs/{{ page.certs-frontend-image }}"></amp-img>
  </a>
</div>
{% endif %}
{% if page.certs-solution != null %}
<div class="box__image{{ page.position }}">
  <a title="{{ page.title }}" target="_blank" href="https://u.magento.com/certification/directory/dev/{{ page.certs-solution }}">
    <amp-img noloading height=121 width=67 alt="{{ page.title }}" attribution="{{ page.title }}" layout=responsive src="/img/certs/{{ page.certs-solution-image }}"></amp-img>
  </a>
</div>
{% endif %}
{% if page.certs-developer != null %}
<div class="box__image{{ page.position }}">
  <a title="{{ page.title }}" target="_blank" href="https://u.magento.com/certification/directory/dev/{{ page.certs-developer }}">
    <amp-img noloading height=121 width=67 alt="{{ page.title }}" attribution="{{ page.title }}" layout=responsive src="/img/certs/{{ page.certs-developer-image }}"></amp-img>
  </a>
</div>
{% endif %}
{% if page.certs-developer-plus != null %}
<div class="box__image{{ page.position }}">
  <a title="{{ page.title }}" target="_blank" href="https://u.magento.com/certification/directory/dev/{{ page.certs-developer-plus }}">
    <amp-img noloading height=121 width=67 alt="{{ page.title }}" attribution="{{ page.title }}" layout=responsive src="/img/certs/{{ page.certs-developer-plus-image }}"></amp-img>
  </a>
</div>
{% endif %}
