<div class="twelve columns">
    <div class="row">
        <div class="three columns">
            <div class="box">
                eerste box
            </div>
        </div>
        <div class="three columns">
            <div class="box">
                tweede box
            </div>
        </div>
        <div class="three columns">
            <div class="box">
                derde box
            </div>
        </div>
        <div class="three columns">
            <div class="box">
                vierde box
            </div>
        </div>
    </div>
</div>