---
layout: 2column
title: Patrick Coppens
description:
keywords:
image: patrick-coppens.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: patrick-coppens-09a3625
twitter:
redirect_from:
  - over-ons/39-patrick-coppens
---
{% include img.html %}
<p>Patrick heeft reputatie opgebouwd als ontwerper in de creatieve industrie — hij is gespecialiseerd in de vormgeving van zowel gedrukte als digitale media. In de vrije tussenuurtjes keek hij nieuwsgierig mee onder de motorkap van de software en sleutelde enthousiast verder. In 2016 heeft hij de stap gemaakt om zijn kennis van code te verbreden en begonnen aan de opleiding Software Engineering aan de Hogeschool van Amsterdam. Momenteel werkt hij full time als web developer bij SupportDesk en ondersteunt klanten met het optimaliseren van hun webshops.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
