---
layout: 2column
title: Wouter Den Otter
image: wouter-den-otter
linkedin: https://www.linkedin.com/in/wouter-den-otter-81a8813/
twitter:
---
{% include about-img.html %}

<p>Mede-oprichter Wouter is sinds de jaren '80 al computer-minded en schreef op zijn 8ste zijn eerste progje op een zx sinclair. Meegegroeid met de professionalisering in het IT-landschap heeft hij zich diverse rollen eigen gemaakt waaronder informatie-analist, projectmanager en procesmanager. Voor SupportDesk zal hij zich vooral inzetten als bruggenbouwer, procescoordinator en algemeen aanspreekpunt.</p>

{% include social-linkedin.html %}
