---
layout: 2column
title: Jikke Broxterman
description:
keywords:
image: jikke-broxterman.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: jikke-broxterman-6090422
twitter:
redirect_from:
  - over-ons/4-jikke-broxterman
---
{% include img.html %}

<p>Bij Jikke Broxterman is IT met de paplepel ingegoten aangezien van jongs af aan de eerste computers in huis gehaald werden. Omgaan met computers is dan ook een tweede natuur. Na de studie heeft ze als ERP Consultant, ervaring opgedaan en heeft bij veel bedrijven in de keuken mogen kijken. In 2007 overgestapt naar een zelfstandig bestaan met het ontwikkelen op Joomla, Magento en andere Open Source software.</p>

<p>Voor SupportDesk is Jikke part-time actief als senior developer.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
