---
layout: 2column
title: Paul Stolk
description:
keywords:
image: paul-stolk.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: paul-stolk-8351a32a
twitter:
---
{% include img.html %}
<p>Paul Stolk is momenteel bezig met zijn Bachelor Business IT & Management aan de Avans Hogeschool in Breda. Hij heeft al jaren een voorliefde voor computers en heeft naast zijn studie al 6 jaar een eigen bedrijf waar hij als PHP developer verscheidene projecten heeft gedaan. Per 1 juli versterkt hij het SupportDesk team als Magento Developer.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
