---
layout: 2column
title: Vladimir Kerkhoff
description:
keywords:
image: vladimir-kerkhoff.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: vladimirkerkhoff
twitter: vkerkhoff
certs-frontend: 228804
certs-frontend-image: magento-certified-frontend-developer.png
certs-solution: 228804
certs-solution-image: magento-certified-solution-specialist.png
certs-developer: 228804
certs-developer-image: magento-certified-developer.png
certs-developer-plus: 228804
certs-developer-plus-image: magento-certified-developer-plus.png
redirect_from:
  - over-ons/6-vladimir-kerkhoff
---
{% include img.html %}
<p>Vladimir Kerkhoff werkt part-time voor SupportDesk. Vladimir is al sinds 1988 actief in de computerbrance en hij was van 1996 t/m 2007 de CTO van de managed hosting provider PINS.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
{% include magento-certs.html %}
