---
layout: 2column
title: SupportDesk opent tweede kantoor
url: supportdesk-opent-tweede-kantoor
description: SupportDesk opent tweede kantoor in jubileumjaar in Science Towers Rotterdam
image: service-contract.svg
imagedir: article
height: 200
width: 200
position:
authorimage: Mats van de Seijp
authorname: Mats van de Seijp
datePublished: 2017-05-02 00:00:00.000000000 +00:00
dateModified: 2017-05-02 00:00:00.000000000 +00:00
intro: SupportDesk opent tweede kantoor in jubileumjaar in Science Towers Rotterdam
hits: 1
nav: blog
---
{% include img.html %}
<h3>SupportDesk opent haar tweede kantoor in jubileumjaar</h3>
<p><strong>SupportDesk</strong> zet haar 5-jarig jubileumjaar extra luister bij met de opening van een tweede kantoor in <strong>Rotterdam</strong>. Door een sterke groei in de markt en daarmee ook collega’s, werd het huidige pand op de <u>Hogehilweg 19 in Amsterdam</u> te klein. Per <u>1 juli</u> zal <strong>SupportDesk</strong> zich daarom dan ook gaan vestigen in de <strong>Science Towers</strong> in <strong>Rotterdam</strong>.</p>
<p>In het nieuwe kantoor zal een heel team aan <strong>support engineers</strong> zich vestigen die zich gaan bezighouden met diverse werkzaamheden voor onze klanten. Denk hierbij aan het migreren van webshops van <strong>Magento 1</strong> naar <strong>Magento 2</strong>, het oplossen van diverse <strong>Magento Business Intelligence</strong> vraagstukken en het verbeteren en monitoren van <strong>Magento Performance</strong> issues.</p>
<p><strong>SupportDesk</strong> is in 2012 opgericht en vierde op 1 juni haar 5 jarig jubileum. Begonnen met slechts 2 man, is het bedrijf uitgegroeid tot een gevestigde naam op het gebied van <strong>Magento Support</strong> met nu twee vestigingen en 25 man in dienst. Met de opening van de tweede locatie zet SupportDesk een belangrijke stap naar groei in de toekomst.</p>
<p>Het SupportDesk kantoor in Rotterdam is te bereiken op;<br><br>
  {% for address in site.address-rotterdam %}
    {{ address.line }}<br />
  {% endfor %}
Science Towers, 8e verdieping</p>
<a title="Bel nu! {{ site.tel-rt }}" href="tel:{{ site.tel-rt }}">{{ site.tel-rt }}</a>
