---
layout: 1column
title: Magento en Joomla nieuws. Actuele info mbt support voor Magento en Joomla
description: Magento en Joomla nieuws. Actuele info mbt support voor Magento en Joomla
keywords: joomla, magento, blog, magento nieuws, magento updates, magento release, joomla nieuws, joomla updates, joomla release
---

{% for post in paginator.posts %}
<article>

      <header>
          <h1><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h1>
          <span class="date"><i class="icon-clock"></i><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span><br/>
          <span class="author"><i class="icon-user"></i> {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>
      </header>

  <div class="twelve columns">{{ post.excerpt }}</div>

</article>
{% endfor %}
