---
layout: 2column
title: Sibren Wilkeshuis
description:
keywords:
image: sibren-wilkeshuis.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: sibrenwilkeshuis
twitter:
redirect_from:
  - over-ons/15-sibren-wilkeshuis
---
{% include img.html %}
<p>Sibren Wilkeshuis is van origine een Geo-informaticus en heeft zich de afgelopen jaren ontwikkeld op internet-gebied als front-end developer en heeft kennis van vele aanverwante internet zaken.</p>

<p>Hij werkt nu 4 dagen in de week voor SupportDesk, waar hij zich voornamelijk bezig houdt met Joomla en Magento projecten: templating en ugrades/migraties. Daarnaast realiseert hij kleine webshops en upgrades binnen Magento.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
