---
layout: 2column
title: Case Study
description: Case Study overzicht van onze Magento en Joomla! klanten.
keywords:
nav: casestudy
---
<p>SupportDesk heeft afgelopen jaren vele Magento en Joomla! website ondersteund. De volgende Case Studies vertellen het verhaal van onze klanten en hoe wij hun geholpen hebben.</p>

    <div class="tablet-up">
      <div class="card-container">
        {% for member in site.data.casestudy %}
        {% if member.status == 'active' %}
        <div class="card">
          <div class="card__image">
            <a title="{{ member.name }}" href="{{ member.url }}">
            <amp-img
                noloading
                height="{{ member.height }}"
                width="200"
                alt="{{ member.name }}"
                layout="responsive"
                src="/img/portfolio/{{ member.pic }}.png">
            </amp-img></a>
          </div>
          <div class="card__content">
            <h3 class="card__title"><a title="{{ member.name }}" href="{{ member.url }}">{{ member.name }}</a></h3>
            <p>{{ member.description }}</p>
          </div>
          <div class="card__action">
            <a title="{{ member.name }}" href="{{ member.url }}">Lees de Case Study</a>
          </div>
        </div>
      {% endif %}
      {% endfor %}
      </div>
    </div>

    <amp-carousel class="tablet-down"
      width="auto"
      height="290"
      type="slides"
      layout="fixed-height">
      {% for member in site.data.casestudy %}
      {% if member.status == 'active' %}
      <div class="card">
        <div class="card__image">
          <a title="{{ member.name }}" href="{{ member.url }}">
          <amp-img
              noloading
              height="{{ member.height }}"
              width="200"
              alt="{{ member.name }}"
              layout="responsive"
              src="/img/portfolio/{{ member.pic }}.png">
          </amp-img></a>
        </div>
        <div class="card__content">
          <h3 class="card__title"><a title="{{ member.name }}" href="{{ member.url }}">{{ member.name }}</a></h3>
          <p>{{ member.description }}</p>
        </div>
        <div class="card__action">
          <a title="{{ member.name }}" href="{{ member.url }}">Lees de Case Study</a>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </amp-carousel>
