---
layout: 2column
title: Ray Bogman
description:
keywords:
image: ray-bogman.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: raybogman
twitter: raybogman
certs-solution: 42440
certs-solution-image: magento-certified-solution-specialist.png
---
{% include img.html %}

<p>Ray Bogman is mede-oprichter van SupportDesk en vervuld zijn rol als Technisch Directeur. Ray is werkzaam als Joomla!, Magento, Oro Senior Consultant, docent en implementor, en heeft dankzij een jarenlange ervaring als security manager in het serverpark van KPN ook een gedegen ervaring opgebouwd op het gebied van systeembeheer en webserver-beveiliging
(RHCE - Ethical Hacking).</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
{% include magento-certs.html %}
