---
layout: 2column
title: Ray Bogman
image: ray-bogman
linkedin: raybogman
twitter: raybogman
---
{% include about-img.html %}

<p>Ray Bogman is mede-oprichter van SupportDesk en vervuld zijn rol als Technisch Directeur. Ray is werkzaam als Joomla!, Magento, Oro Senior Consultant, docent en implementor, en heeft dankzij een jarenlange ervaring als security manager in het serverpark van KPN ook een gedegen ervaring opgebouwd op het gebied van systeembeheer en webserver-beveiliging
(RHCE - Ethical Hacking).</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
