---
layout: 2column
title: Ronald Bethlehem
description:
keywords:
image: ronald-bethlehem.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: ronald-bethlehem-65456782
twitter:
---
{% include img.html %}
<p>Ronald Bethlehem is op dit moment bezig met de Master Computer Science student aan de VU. Naast zijn studie werkt hij 2dagen in de week voor SupportDesk. Tijdens het afronden van zijn Bachelor was Ronald al werkzaam bij SupportDesk en heeft zodoende ervaring opgedaan met o.a. Magento.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
