---
layout: 2column
title: Rachel Tjong-A-Hung
description:
keywords:
image: rachel-tjong-a-hung.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: racheltjongahung
twitter:
redirect_from:
  - over-ons/16-rachel-tjong-a-hung
---
{% include img.html %}
<p>Rachel Tjong-A-Hung werkt nu 4 dagen in de week voor SupportDesk.</p>
<p>Bijna 5 jaar geleden overgestapt van Bedrijfswiskunde (studie afgerond) naar Web Development en heeft er tot nu toe geen spijt van gehad. Bij SupportDesk zal ze zich bezig houden met Magento Support en zal ondersteunen in de diverse bedrijfsprocessen.</p>

<p>Voorheen heeft zij ruimschoots ervaring opgedaan als Magento Support medewerker.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
