---
layout: 2column
title: Jan Rezelman
description:
keywords:
image: jan-rezelman.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: jan-rezelman
twitter:
---
{% include img.html %}
<p>Ik ben bezig met een bachelor Lifestyle Informatics aan de VU, waar ik in aanraking met programmeren kwam. Ik ben daardoor al snel naast mijn studie aan het werk gegaan als developer, en sinds mei 2017 werk ik bij SupportDesk als support engineer. In mijn vrije tijd ben ik toetsenist in mijn band, waarmee ik door het hele land zo nu en dan optreed.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
