---
layout: 2column
title: Yorick Germs
description:
keywords:
image: yorick-germs.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: yorickgerms
twitter:
redirect_from:
  - over-ons/37-yorick-germs
---
{% include img.html %}

<p>Vanwege Yorick's interesse in interactieve media heeft hij de bachelor Toegepaste Kunst en Techniek in Enschede gehaald. Al snel specialiseerde hij zich in de front-end ontwikkeling van websites en app's. Als beheerder van webshops deed hij eerder zijn intrede in de e-commerce branche. Bij SupportDesk werkt hij nu full-time aan het verbeteren van webshops.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
