---
layout: 2column
title: Daan Beverdam
description:
keywords:
image: daan-beverdam.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: daanbeverdam
twitter:
---
{% include img.html %}
<p>Daan Beverdam heeft een bachelor Psychologie gedaan in Groningen en is daarna verhuisd naar Amsterdam waar hij zijn Master Artificial Intelligence en Klinische Neuropsychologie aan het afronden is. Hij heeft altijd een voorliefde voor computers gehad en heeft daarom ook een jaar geleden het besluit genomen om hier iets mee te gaan doen.</p>
<p>Daan werkt 2 dagen in de week voor SupportDesk en zal zich bezighouden met Magento Support.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
