---
layout: 2column
title: Mats van de Seijp
description:
keywords:
image: mats-van-de-seijp.jpg
imagedir: team
height: 150
width: 200
position:
linkedin: mats-van-de-seijp-91251479
twitter:
---
{% include img.html %}
<p>Mats, is ons SupportDesk team vanaf Maart 2017 komen versterken en werkt drie dagen per week bij ons. Hij zal voornamelijk de rol bekleden als manusje van alles. Met een brede achtergrond in bedrijfskunde en strategisch management zal Mats ons voornamelijk ondersteunen met interne werkzaamheden als administratieve zaken, quality assurance en het schrijven van blogs.</p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
