---
layout: 2column
title: Edgar Kirchner
description:
keywords:
image: edgar-kirchner.jpg
imagedir: team
height: 150
width: 200
position:
linkedin:
twitter:
---
{% include img.html %}
<p>Edgar Kirchner is geboren in Mozambique en op zijn tiende verhuisd naar Nederland. Met een vader die in de IT werkte kwam hij op vroege leeftijd al in aanraking met computers. Nadat zijn vader hem een boek had gegeven over Visual Basic heeft hij een eigen rekenmachine geprogrammeerd en vanuit daar is zijn enthousiasme alleen maar gegroeid.
Om zich hierin verder te ontwikkelen is Edgar Technische informatica gaan studeren, die hij nu deeltijd aan het afronden is terwijl hij bij Supportdesk werkt. Als hij niet studeert of werkt is hij te vinden in de boksschool, de keuken, achter een goed geschiedenisboek of in de schoolbanken voor zijn cursus klassiek Arabisch. Kortom een man met veel interesses. </p>

{% include social-linkedin.html %}
{% include social-twitter.html %}
